iso/
text/BP_Vacek_main.aux
text/BP_Vacek_main.fdb_latexmk
text/BP_Vacek_main.fls
text/BP_Vacek_main.log
text/BP_Vacek_main.out
text/BP_Vacek_main.synctex.gz
text/BP_Vacek_main.toc
text/BP_Vacek_main.pdf
text/pages/titulni_color.pdf
text/pages/zadani_color.pdf
